<div class="mainContainer">
<h1 class="signInText">Create Account</h1>
<br>
<nav class="item2">
    <ul>
      <li class="grow" style="list-style-type: none"><a [routerLink] = "['/']" fragment="home" style="font-size: 12pt">Home</a></li><br>
      <li class="grow"><a [routerLink] = "['/']" fragment="ourFirm" style="font-size: 12pt">Our Firm</a></li><br>
      <li class="grow"><a [routerLink] = "['/']" fragment="leadershipTeam" style="font-size: 12pt">People</a></li><br>
      <li class="grow"><a [routerLink] = "['/']" fragment="services" style="font-size: 12pt">Services</a></li><br>
      <li class="grow"><a [routerLink] = "['/']" fragment="policyResearch" style="font-size: 12pt" onclick="">Research</a></li><br>
      <li class="grow"><a [routerLink] = "['/']" fragment="opinion" style="font-size: 12pt">Opinion</a></li><br>
      <li class="grow"><a [routerLink] = "['/']" fragment="news" style="font-size: 12pt">News</a></li><br>
      <li class="grow"><a [routerLink] = "['/']" fragment="contact" style="font-size: 12pt">Contact</a></li><br>
      <li class="grow"><a routerLink="/login" style="font-size: 12pt">Login</a></li>
    </ul>         
  </nav>

  <div class="documentsCard">
<p>
  First Name:
  <input type="text">
</p>
<br>
<p>
  Last Name:
  <input type="text">
</p>
<br>
<p>
  Email:
  <input type="email">
</p>
<br>
<p>
  Create a password:
  <input type="password">
</p>
<br>
<p>
  Confirm your password:
  <input type="password">
</p>
<br>
<button>Create Account</button>&nbsp;
<a routerLink="/login">Return to Login</a>
</div>
</div>