<header>
    <h3 style="color: white;" class="logo">Create Account</h3>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li style="list-style-type: none"><a [routerLink] = "['/']" fragment="home" style="font-size: 12pt">Home</a></li>
        <li><a [routerLink] = "['/']" fragment="ourFirm" style="font-size: 12pt">Our Firm</a></li>
        <li><a [routerLink] = "['/']" fragment="leadershipTeam" style="font-size: 12pt">People</a></li>
        <li><a [routerLink] = "['/']" fragment="services" style="font-size: 12pt">Services</a></li>
        <li><a [routerLink] = "['/']" fragment="policyResearch" style="font-size: 12pt" onclick="">Research</a></li>
        <li><a [routerLink] = "['/']" fragment="opinion" style="font-size: 12pt">Opinion</a></li>
        <li><a [routerLink] = "['/']" fragment="news" style="font-size: 12pt">News</a></li>
        <li><a [routerLink] = "['/']" fragment="contact" style="font-size: 12pt">Contact</a></li>
        <li><a routerLink="/login" style="font-size: 12pt">Login</a></li> 
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    </header>
    
  <div class="content">
    <div class="documentsCard">
      <input class="formInput" type="text" placeholder="First Name">
      <input class="formInput" type="text" placeholder="Last Name">
      <input class="formInput" type="email" placeholder="Email">
      <input class="formInput" type="password" placeholder="Create password">
      <input class="formInput" type="password" placeholder="Confirm password">
      <button routerLink="/accountCreated" class="btn btn-success">Create Account</button>
      <a routerLink="/login">Return to Login</a>
    </div>
  </div>