.mainContainer {
    background: #171c32;
    height: 100vh;
}

.documentsCard {
    background: rgb(199, 197, 197);
    height: 50vh;
    width: 50vh;
    padding: 0.5em;
    margin: 25vh auto 0;
}

.welcomeText {
    display: flex;
    color: white;
    background-color: #171c32;
}

.item2 { 
    display: block;
    position: fixed;
    background: none;
    top: 20%; 
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin-left: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    list-style-type: none;
}

nav a:hover {
    transition: all .25s ease-in-out;
}

nav a::after {
    content: '';
    display: block;
    height: 3px;
    width: 20px;
    background: #5ea7f7;
    list-style-type: none;
}

.grow { 
    transition: all .5s ease-in-out; 
}
     
.grow:hover { 
    transform: scale(1.2); 
}

.signInText {
    color: white;
}