@media only screen and (min-width: 770px) {
    body {
        background-color: red;
        display: flex;
        flex-direction: column;
        color: white;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        height: 15%;
        width: 100%;
        background-color: orange;
        justify-content: center;
        margin-top: 25vh;
        padding: 15px;
        align-content: center;
        position: absolute;
        z-index: 2;
    }
    
    .titleText {
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
        font-weight: 400;
        background-color: white;
        text-transform: uppercase;
    }
    
    .subtitleText {
        display: flex;
        background-color: red;
        justify-content: center;
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 400;
    }
    
    .carouselContainer {
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: green;
        justify-content: center;
    }

    .locationsContainer {
        display: flex;
        flex-direction: row;
        height: 2.7rem;
        position: relative;
        z-index: 2;
        margin-top: 75vh;
        font-size: 2rem;
        font-weight: 400;
    }

    .nYCContainer {
        display: flex;
        background-color: white;
        align-items: center;
        padding: 5px;
    }

    .lonContainer {
        display: flex;
        background-color: pink;
        align-items: center;
        padding: 5px;
    }

    .dCContainer {
        display: flex;
        background-color: red;
        align-items: center;
        padding: 5px;
    }

    .locationLogo {
        display: flex;
        background-color: #5ea7f7;
        height: 100%;
        width: 3px;
    }
    
    .ourFirmContainer {
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: red;
        flex-direction: column;
        justify-content: center;
    }

    .ourFirmTitle {
        display: flex;
        background-color: white;
        justify-content: center;
        margin-top: 5vh;
        font-size: 4.2rem;
        line-height: 1em;
    }

    .ourFirmText {
        display: flex;
        background-color: blue;
        justify-content: center;
        text-align: justify;
        padding-left: 15%;
        padding-right: 15%;
        font-size: 2rem;
    }

    .teamProfilesContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: green;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .leadershipTeamTitle {
        display: flex;
        font-size: 4.2rem;
        background-color: yellow;
        text-transform: capitalize;
        padding-left: 5rem;
    }

    .fullBio {
        display: flex;
        padding-left: 1rem;
    }

    .fa-arrow-right {
        padding-top: .25rem;
        padding-left: 1rem;
    }
    
    .charlesMyersContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: indigo;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .charlesMyersPic {
        display: flex;
        background-color: white;
        width: 50%;
        justify-content: flex-end;
    }

    .charlesMyersPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .charlesMyersBio {
        display: flex;
        flex-direction: column;
        background-color: red;
        font-size: 1.2rem;
        width: 50%;
    }

    .bioName {
        display: flex;
        background-color: orange;
        text-transform: capitalize;
        padding-left: 1rem;
        font-size: 2.5rem;
    }

    .bioPosition {
        display: flex;
        background-color: green;
        text-transform: uppercase;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .bioParagraphs {
        display: flex;
        background-color: greenyellow;
        padding: 1rem;
    }
    
    .andrewBishopContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: orange;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .andrewBishopPic {
        display: flex;
        background-color: green;
        width: 50%;
        justify-content: flex-end;
    }

    .andrewBishopPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .andrewBishopBio {
        display: flex;
        flex-direction: column;
        background-color: yellow;
        font-size: 1.2rem;
        width: 50%;
    }
    
    .angelaDaltonContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: blue;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .angelaDaltonPic {
        display: flex;
        background-color: white;
        width: 50%;
        justify-content: flex-end;
    }

    .angelaDaltonPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .angelaDaltonBio {
        display: flex;
        flex-direction: column;
        background-color: green;
        font-size: 1.2rem;
        width: 50%;
    }
    
    .jasonPressContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: red;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .jasonPressPic {
        display: flex;
        background-color: hotpink;
        width: 50%;
        justify-content: flex-end;
    }

    .jasonPressPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .jasonPressBio {
        display: flex;
        flex-direction: column;
        background-color: indigo;
        font-size: 1.2rem;
        width: 50%;
    }
    
    .annaRosenbergContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: orange;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .annaRosenbergPic {
        display: flex;
        background-color: white;
        width: 50%;
        justify-content: flex-end;
    }

    .annaRosenbergPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .annaRosenbergBio {
        display: flex;
        flex-direction: column;
        background-color: blue;
        font-size: 1.2rem;
        width: 50%;
    }
    
    .servicesContainer {
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: violet;
    }
    
    .policyResearchContainer {
        display: flex;
        height: 90vh;
        width: auto;
        background-color: red;
        justify-content: center;
    }

    .policyResearchPic {
        display: flex;
        background-color: white;
    }

    .policyResearchText {
        display: flex;
        background-color: blue;
    }
    
    .institutionalInvestorContainer {
        display: flex;
        height: 100vh;
        width: auto;
        background-color: green;
        justify-content: center;
    }

    .institutionalInvestorPic {
        display: flex;
        background-color: indigo;
    }

    .institutionalInvestorText {
        display: flex;
        background-color: yellow;
    }
    
    .differentiationContainer {
        display: flex;
        height: 100vh;
        width: auto;
        background-color: violet;
        justify-content: center;
    }

    .differentiationPic {
        display: flex;
        background-color: white;
    }

    .differentiationText {
        display: flex;
        background-color: orange;
    }
    
    .newsContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: auto;
        background-color: yellow;
    }

    .youTubeClip1 {
        display: flex;
        justify-content: center;
        background-color: white;
    }

    .youTubeClip2 {
        display: flex;
        justify-content: center;
        background-color: green;
    }
    
    .emailListSignupContainer {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: auto;
        background-color: orange;
    }

    .emailListItemsContainer {
        display: flex;
        background-color: red;
        justify-content: center;
        flex-direction: column;
    }

    .emailListSignupTitle {
        display: flex;
        background-color: white;
    }

    .emailListSignupSubtitle {
        display: flex;
        background-color: green;
    }

    .emailInputItems {
        display: flex;
        background-color: lightgoldenrodyellow;
        flex-direction: row;
        justify-content: center;
    }

    .emailListSignupName {
        display: flex;
        background-color: lightblue;
    }

    .emailListSignupEmail {
        display: flex;
        background-color: lightcoral;
    }

    .emailSignupButton {
        display: flex;
        background-color: lightcyan;
    }
    
    .contactContainer {
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
        width: auto;
        background-color: blue;
    }

    .contactUsImage {
        display: flex;
        background-color: white;
    }

    .contactUsTitle {
        display: flex;
        background-color: orange;
    }
    
    .footerContainer {
        display: flex;
        width: auto;
        flex-direction: column;
    }

    .locationFooterContainer {
        display: flex;
        background-color: yellow;
        height: 400px;
        justify-content: center;
    }
    
    .nYCFooterContainer {
        display: flex;
        width: 1fr;
        background-color: red;
    }
    
    .londonFooterContainer {
        display: flex;
        width: 1fr;
        background-color: green;
    }
    
    .washingtonFooterContainer {
        display: flex;
        width: 1fr;
        background-color: violet;
    }
    
    .copyrightInfoContainer {
        display: flex;
        width: 1fr;
        background-color: white;
    }
    
    
}

@media only screen and (max-width: 770px) {
    body {
        background-color: red;
        display: flex;
        flex-direction: column;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        background-color: orange;
        justify-content: center;
        margin-top: 25vh;
        padding: 15px;
        align-content: center;
        position: absolute;
        z-index: 2;
    }
    
    .titleText {
        display: flex;
        justify-content: center;
        font-size: 50px;
        font-weight: 400;
        background-color: white;
    }
    
    .subtitleText {
        display: flex;
        background-color: red;
        justify-content: center;
    }
    
    .carouselContainer {
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: green;
        justify-content: center;
    }

    .locationsContainer {
        display: flex;
        flex-direction: row;
        background-color: indigo;
        height: 90px;
        padding: 15px;
        position: relative;
        z-index: 2;
        margin-top: 75vh;
    }

    .nYCContainer {
        display: flex;
        background-color: white;
        align-items: center;
    }

    .lonContainer {
        display: flex;
        background-color: pink;
        align-items: center;
    }

    .dCContainer {
        display: flex;
        background-color: red;
        align-items: center;
    }
    
    .ourFirmContainer {
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: red;
        flex-direction: column;
    }

    .ourFirmTitle {
        display: flex;
        background-color: white;
        justify-content: center;
        margin-top: 5vh;
        font-size: 4.2rem;
        line-height: 1em;
    }

    .ourFirmText {
        display: flex;
        background-color: blue;
        justify-content: center;
    }

    .teamProfilesContainer {
        display: flex;
        flex-direction: column;
        height: 100vh; 
        width: 100%;
        background-color: green;
        margin-top: 5vh;
        padding: 20px;
    }

    .leadershipTeamTitle {
        display: flex;
        font-size: 4.2rem;
        line-height: 1em;
        background-color: yellow;
    }
    
    .charlesMyersContainer {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: auto;
        justify-content: center;
        background-color: indigo;
    }

    .charlesMyersPic {
        display: flex;
        flex-direction: row;
        background-color: white;
    }

    .charlesMyersBio {
        display: flex;
        flex-direction: row;
        background-color: red;
    }
    
    .andrewBishopContainer {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: auto;
        justify-content: center;
        background-color: orange;
    }

    .andrewBishopPic {
        display: flex;
        flex-direction: row;
        background-color: green;
    }

    .andrewBishopBio {
        display: flex;
        flex-direction: row;
        background-color: yellow;
    }
    
    .angelaDaltonContainer {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: auto;
        justify-content: center;
        background-color: blue;
    }

    .angelaDaltonPic {
        display: flex;
        flex-direction: row;
        background-color: white;
    }

    .angelaDaltonBio {
        display: flex;
        flex-direction: row;
        background-color: green;
    }
    
    .jasonPressContainer {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: auto;
        justify-content: center;
        background-color: red;
    }

    .jasonPressPic {
        display: flex;
        flex-direction: row;
        background-color: hotpink;
    }

    .jasonPressBio {
        display: flex;
        flex-direction: row;
        background-color: indigo;
    }
    
    .annaRosenbergContainer {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: auto;
        justify-content: center;
        background-color: orange;
    }

    .annaRosenbergPic {
        display: flex;
        flex-direction: row;
        background-color: white;
    }

    .annaRosenbergBio {
        display: flex;
        flex-direction: row;
        background-color: blue;
    }
    
    .servicesContainer {
        display: flex;
        flex-direction: column;
        width: auto;
        background-color: violet;
    }
    
    .policyResearchContainer {
        display: flex;
        flex-direction: column;
        height: 90vh;
        width: auto;
        background-color: red;
        justify-content: center;
    }

    .policyResearchPic {
        display: flex;
        flex-direction: row;
        background-color: white;
    }

    .policyResearchText {
        display: flex;
        flex-direction: row;
        background-color: blue;
    }
    
    .institutionalInvestorContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: auto;
        background-color: green;
        justify-content: center;
    }

    .institutionalInvestorPic {
        display: flex;
        flex-direction: row;
        background-color: indigo;
    }

    .institutionalInvestorText {
        display: flex;
        flex-direction: row;
        background-color: yellow;
    }
    
    .differentiationContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: auto;
        background-color: violet;
        justify-content: center;
    }

    .differentiationPic {
        display: flex;
        flex-direction: row;
        background-color: white;
    }

    .differentiationText {
        display: flex;
        flex-direction: row;
        background-color: orange;
    }
    
    .newsContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: auto;
        background-color: yellow;
    }

    .youTubeClip1 {
        display: flex;
        justify-content: center;
        background-color: white;
    }

    .youTubeClip2 {
        display: flex;
        justify-content: center;
        background-color: green;
    }
    
    .emailListSignupContainer {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: auto;
        background-color: orange;
    }

    .emailListItemsContainer {
        display: flex;
        flex-direction: row;
        background-color: red;
        justify-content: center;
        flex-direction: column;
    }

    .emailListSignupTitle {
        display: flex;
        background-color: white;
    }

    .emailListSignupSubtitle {
        display: flex;
        background-color: green;
    }

    .emailInputItems {
        display: flex;
        flex-direction: column;
        background-color: red;
        justify-content: center;
    }

    .emailListSignupName {
        display: flex;
        flex-direction: row;
        background-color: lightblue;
    }

    .emailListSignupEmail {
        display: flex;
        flex-direction: row;
        background-color: lightcoral;
    }

    .emailSignupButton {
        display: flex;
        flex-direction: row;
        background-color: lightcyan;
    }
    
    .contactContainer {
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
        width: 100%;
        background-color: blue;
    }

    .contactUsImage {
        display: flex;
        background-color: white;
    }

    .contactUsTitle {
        display: flex;
        background-color: orange;
    }
    
    .footerContainer {
        display: flex;
        flex-direction: column;
    }

    .locationFooterContainer {
        display: flex;
        flex-direction: column;
        background-color: yellow;
        height: 400px;
        width: 100%;
        justify-content: center;
    }
    
    .nYCFooterContainer {
        display: flex;
        width: 33%;
        background-color: red;
    }
    
    .londonFooterContainer {
        display: flex;
        width: 33%;
        background-color: green;
    }
    
    .washingtonFooterContainer {
        display: flex;
        width: 33%;
        background-color: violet;
    }
    
    .copyrightInfoContainer {
        display: flex;
        width: 1fr;
        background-color: white;
    }
}

/* navigation styles start here */

header {
    background: none;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  
  /* changed this to
     allow it to gain focus, making it tabbable */
.nav-toggle {
    position: relative !important;
    margin-top: 3em;
    top: -9999px !important;
    left: -9999px !important;
}
  
  
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
  
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
  
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
  
.nav-toggle-label span::before {
    bottom: 7px;
}
  
.nav-toggle-label span::after {
    top: 7px;
}
  
nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
  
nav a {
    color: white;
    text-shadow:
        -1.0px -1.0px 0 #000,
        1.0px -1.0px 0 #000,
        -1.0px 1.0px 0 #000,
        1.0px 1.0px 0 #000;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
  
nav a:hover {
    color: #5ea7f7;
}
  
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}
  
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}