<header>
  <nav></nav>
</header>
<body>

  <div class="titleContainer">
    <div class="titleText">titleText</div>
    <div class="subtitleText">subtitleText</div>
  </div>
  
  <div class="carouselContainer">
    <div class="locationsContainer">
      <div class="nYCContainer">nYCContainer</div>
      <div class="lonContainer">lonContainer</div>
      <div class="dCContainer">dCContainer</div>
    </div>
  </div><br>

  <div class="ourFirmContainer">ourFirmContainer
    <div class="ourFirmTitle">ourFirmTitle</div>
    <div class="ourFirmText">ourFirmText</div>
  </div>

  <div class="teamProfilesContainer">teamProfilesContainer

    <div class="leadershipTeamTitle">leadershipTeamTitle</div>
    
    <div class="charlesMyersContainer">
      <div class="charlesMyersPic">charlesMyersPic</div>
      <div class="charlesMyersBio">charlesMyersBio</div>
    </div>

    <div class="andrewBishopContainer">
      <div class="andrewBishopPic">andrewBishopPic</div>
      <div class="andrewBishopBio">andrewBishopBio</div>
    </div>

    <div class="angelaDaltonContainer">
      <div class="angelaDaltonPic">angelaDaltonPic</div>
      <div class="angelaDaltonBio">angelaDaltonBio</div>
    </div>

    <div class="jasonPressContainer">
      <div class="jasonPressPic">jasonPressPic</div>
      <div class="jasonPressBio">jasonPressBio</div>
    </div>

    <div class="annaRosenbergContainer">
      <div class="annaRosenbergPic">annaRosenbergPic</div>
      <div class="annaRosenbergBio">annaRosenbergBio</div>
    </div>
  </div>

  <div class="servicesContainer">servicesContainer

    <div class="policyResearchContainer">
      <div class="policyResearchPic">policyResearchPic</div>
      <div class="policyResearchText">policyResearchText</div>
    </div>

    <div class="institutionalInvestorContainer">
      <div class="institutionalInvestorText">institutionalInvestorText</div>
      <div class="institutionalInvestorPic">institutionalInvestorPic</div>
    </div>

    <div class="differentiationContainer">
      <div class="differentiationPic">differentiationPic</div>
      <div class="differentiationText">differentiationText</div>
    </div>

  </div>

  <div class="newsContainer">newsContainer
    <div class="youTubeClip1">youTubeClip1</div>
    <div class="youTubeClip2">youTubeClip2</div>
  </div>

  <div class="emailListSignupContainer">emailListSignupContainer
    <div class="emailListSignupTitle">emailListSignupTitle</div>
    <div class="emailListSignupSubtitle">emailListSignupSubtitle</div>
    <div class="emailInputItems">
      <div class="emailListSignupName">emailListSignupName</div>
      <div class="emailListSignupEmail">emailListSignupEmail</div> 
      <div class="emailSignupButton">
        <button class="emailListSignup btn btn-submit">Sign up</button>
      </div>
    </div>
  </div>

  <div class="contactContainer">contactContainer
    <div class="contactUsTitle">contactUsTitle</div>
    <div class="contactUsImage">contactUsImage</div>
  </div>

</body>
<footer class="footerContainer">

  <div class="locationFooterContainer">

  <div class="nYCFooterContainer">nYCFooterContainer
    <div class="nYCFooterTitle">nYCFooterTitle</div>
    <div class="nYCFooterText">nYCFooterText</div>
  </div>

  <div class="londonFooterContainer">londonFooterContainer
    <div class="londonFooterTitle">londonFooterTitle</div>
    <div class="londonFooterText">londonFooterText</div>
  </div>

  <div class="washingtonFooterContainer">washingtonFooterContainer
    <div class="washingtonFooterTitle">washingtonFooterTitle</div>
    <div class="washingtonFooterText">washingtonFooterText</div>
  </div>

  </div>

  <div class="copyrightInfoContainer">copyrightInfoContainer
    <div class="copyrightInfoText">copyrightInfoText</div>
  </div>

</footer>