<a routerLink="/home">Home</a>
<h1>Terms of Service</h1>
<h3>Master Service Agreement</h3>
<p>This Master Services Agreement (“Agreement”) governs your purchase and use of our Services. By accepting this Agreement, either
    by executing an order form referencing this Agreement or clicking a button indicating your acceptance, you agree to the terms of this
    Agreement.
    This Agreement was last updated on June 10, 2019. It is effective between you and SurveyMonkey as of the Order Form Effective Date ("Effective Date").
</p>
<p>
  DEFINITIONS
</p>
<p>
    "Affiliate" means any entity which directly or indirectly controls, is controlled by or is under common control with an entity. “Control” for
    purposes of the preceding sentence means direct or indirect ownership or control of more than 50% of the voting interests of the subject
    entity.
</p>
<p>
    "Article 28" means article 28 of the General Data Protection Regulation (Regulation (EU) 2016/679).
    “Customer” or “you” means the customer accepting this Agreement and identified on the cover page of this Agreement.
    “Customer Data” means all data (including Personal Data and End User data) that is provided to Signum Global Advisors by, or on behalf of,
    Customer through Customer’s use of the Services, and any data that third parties submit to Customer through the Services.
    "Data Protection Impact Assessment" means a data protection impact assessment as referred to in article 35 of the General Data
    Protection Regulation (Regulation (EU) 2016/679).
</p>
<p>
    “End Users” means Customer’s employees, agents, independent contractors, and other individuals authorized by Customer to access
    and use the Services, unless otherwise defined in a specific Order Form or SST.
    “Intellectual Property Rights” means current and future worldwide rights under patent, copyright, design rights, trade secret,
    trademark, moral rights, and other similar rights, whether registered or unregistered.
    “Order Form” means an order form, sales order, sales quote, or similar document referencing and made under this Agreement and
    signed by the parties.
</p>
<p>
    “Personal Data” means information relating to a living individual who is, or can be, reasonably identified from information, either alone
    or in conjunction with other information, within Customer’s control and which is stored, collected or processed within one of Customer’s
    Signum Global Advisors End User accounts.
</p>
<p>
    “Privacy Policy” means the Signum Global Advisors Privacy Policy at https://www.SignumGlobalAdvisors.com/mp/legal/privacy-policy/ that details how
    Signum Global Advisors handles Customer Data.
</p>
<p>
    “Services” means the services ordered by Customer on an Order Form, which are described at https://www.SignumGlobalAdvisors.com/whatis-SignumGlobalAdvisors/?ut_source=megamenu or other link that Signum Global Advisors may provide on an Order Form.
    “SSTs” means service-specific terms that apply to specific Services and that are incorporated into and form a part of this Agreement.
    “Subcontractor” means any entity to whom Signum Global Advisors subcontracts any of its obligations under this Agreement.
    “Signum Global Advisors” means the Signum Global Advisors entity defined in Section 14 (Contracting Entity).
    “Signum Global Advisors Background IP” means Intellectual Property Rights: (a) owned by or licensed to Signum Global Advisors as of the Effective
    Date; (b) developed or acquired by Signum Global Advisors after the Effective Date but independent of, and unrelated to, Signum Global Advisors’s
    performance of the Services for Customer; or (c) relating to standard products or services offered or provided by Signum Global Advisors
    (including any improvements to those products and services).
</p>
<h3>Services</h3>
<p>
    2.1 Provision of Services. Signum Global Advisors will provide the Services to Customer in accordance with this Agreement, including any Order
    Forms and any applicable SSTs.
    2.2 Order Forms. The parties may enter into Order Forms under this Agreement. Signum Global Advisors and Customer may agree that
    Customer’s Affiliates may enter into Order Forms under this Agreement. Any such Order Form may be signed by Signum Global Advisors or a
    Signum Global Advisors Affiliate pursuant to the requirements for under Section 14. Any reference in the Agreement to “Customer” will refer to
    the Customer entity signing the Order Form and any reference in the Agreement to “Signum Global Advisors” will refer to the Signum Global Advisors
    contracting entity signing the Order Form. Each Order Form will incorporate the terms and conditions of this Agreement and will be a
    separate contract between the entities entering into the Order Form
    Signum Global Advisors Master Services Agreement
</p>
<p>
    2.3 Third Party Services. If Customer integrates the Services with any non-Signum Global Advisors-provided third party service (such as a third
    party’s service that uses an application programming interface (API)), Customer acknowledges that such third party service might
    access or use Customer Data and Customer permits the third party service provider to access Customer Data as required for the
    interoperation of that third party service with the Services. Customer is solely responsible for the use of such third party services and
    any data loss or other losses it may suffer as a result of using any such services.
</p>
<h3>Saas Services</h3>
<p>
    3.1
    (a) License. Subject to the terms and conditions of this Agreement, Signum Global Advisors grants Customer a non-exclusive, nontransferable worldwide right to access and use the Services during the subscription term.
    (b) Subscription Term. The initial term of each subscription is specified on the Order Form. Subscriptions will automatically renew at
    the end of each subscription term for additional periods equal to one year, unless either party gives the other written notice of
    non-renewal at least 30 days before the end of the then-current subscription term.
</p>
<p>
    (c) Subscription Units Added Mid-subscription Term. An Order Form may be used to add more subscription units (e.g. seats or
    packages) to a subscription during a subscription term. The per unit pricing for those additional subscription units will be as
    specified on the Order Form of the underlying subscription (or, absent such specification, at the same per unit pricing as the
    underlying subscription pricing), prorated for the portion of that subscription term remaining at the time the subscription units are
    added. Any such additional subscription units will renew or terminate on the same date as the underlying subscription.
    Subscription units relating to a Service cannot be decreased during a subscription term for that Service.
    (d) Default Type. Each Service is purchased as a subscription unless otherwise specified in an Order Form or indicated given the
    nature of the Service.
</p>
<h3>Service Features</h3>
<p>
    4.1 Changes to Services. Signum Global Advisors continually changes and improves the Services. Signum Global Advisors will provide Customer with prior
    written notice if Signum Global Advisors makes a change to the Service(s) resulting in a material decrease in core functionality used by
    Signum Global Advisors’s general customer base. In such event, the parties agree to work together to minimize the impact of such change to
    Customer.
</p>
<h3>Fees</h3>
<p>
    5.1 Fees. Customer will pay to Signum Global Advisors all applicable fees for the Services specified in each Order Form. Except as otherwise
    specified in this Agreement or prohibited by applicable law, payment obligations are non-cancelable and fees paid are not refundable;
    provided, however, that refunds may be provided to Customer in the event this Agreement is terminated in accordance with Section
    13.5(b).
</p>
<p>
    5.2 Invoicing and Payment Terms. Payment terms shall be specified in each Order Form. Unless otherwise specified in the Order Form,
    an invoice will be issued upon execution of the Order Form. Multi-year orders and renewals will be invoiced on an annual basis.
    5.3 Taxes. All amounts payable by Customer under this Agreement are exclusive of any applicable taxes, levies, duties, or similar
    governmental assessments of any nature (including value-added, sales, and use taxes, but excluding withholding taxes and taxes
    based on Signum Global Advisors’s income, property, or employees) (“Taxes”) that may arise in connection with Customer’s purchases under
    this Agreement. If any such Taxes arise, Customer will pay such Taxes in addition to all other amounts payable under this Agreement,
    unless Customer provides Signum Global Advisors with a valid tax exemption certificate or other documentary proof, issued by an appropriate
    taxing authority, that no tax should be charged. If Customer is required by law to withhold any Taxes from its payments to
    Signum Global Advisors, Customer must provide Signum Global Advisors with an official tax receipt or other appropriate documentation to support such
    payments.
</p>
<p>
    5.4 Currency. All monetary amounts in this Agreement are denominated in the currency stated on the Order Form. Fee payments by
    Customer must be received by Signum Global Advisors in the same currency as such fees were billed.
    5.5 Overdue Payments. Signum Global Advisors may charge Customer interest on overdue payments at the rate of 1.5% per month (or the highest
    rate permitted by law, if less) on the amount overdue If any amount owed by Customer is overdue by 30 days or more, Signum Global Advisors
    may limit functionality or suspend provision of Services to Customer until such amounts are paid in full.
    5.6 Overage Fees. Unless otherwise stated, any overage fees incurred by Customer will be billed in arrears at the rate listed on the Order
    Form. The additional units will be charged at the per unit pricing for those additional units as specified on the Order Form for the
    underlying subscription (or, absent such specification, at the same per unit pricing as the underlying subscription pricing), prorated for
    the portion of that subscription term remaining at the time the subscription units are added. 
</p>
<h3>Customer Obligations</h3>
<p>
    6.1 Customer Responsibilities.
    (a) Account Security. Customer is responsible for maintaining the confidentiality of its own passwords and any other credentials
    used by it and its End Users to access the Services. Customer will use commercially reasonable efforts to prevent unauthorized
    use of the Services and will terminate any unauthorized use of which it becomes aware. Customer will notify Signum Global Advisors
    promptly if Customer becomes aware of any unauthorized access to its accounts.
    (b) End User Activities. Customer is responsible for ensuring that its End Users comply with this Agreement. Customer is
    responsible for the acts of its End Users and any activity occurring in its End User accounts (other than activity that
    Signum Global Advisors is directly responsible for which is not performed in accordance with Customer’s instructions).
    Signum Global Advisors Master Services Agreement
</p>
<p>
    (c) One Individual per Account. End User accounts and passwords may not be shared and may only be used by one individual per
    account.
</p>
<p>
    6.2 Acceptable Uses by Customer. Customer agrees to comply with the Acceptable Uses Policy located at
    https://www.SignumGlobalAdvisors.com/mp/legal/acceptable-uses-policy/.
</p>
<p>
    6.3 Third Party Requests. The parties may from time to time receive a request from a third party for records related to Customer’s use of
    the Services, including information in a Customer End User account or identifying information about a Customer End User (“Third Party
    Request”). Third Party Requests include search warrants, subpoenas, and other forms of legal process.
    Customer is responsible for responding to Third Party Requests via its own access to the information, and will only contact
    Signum Global Advisors if Customer is unable to obtain such information after diligent efforts. If Signum Global Advisors receives a valid Third Party
    Request then, to the extent permitted by law, Signum Global Advisors:
</p>
<p>
    (a) may inform the third party issuing such request that it should pursue the request directly with Customer; and
</p>
<p>
    (b) will: (i) promptly notify Customer of the Third Party Request; (ii) cooperate, at Customer’s expense, with Customer’s reasonable
    requests regarding Customer’s efforts to oppose a Third Party Request; and (iii) after providing Customer with an opportunity to
    respond to or oppose the Third Party Request, Signum Global Advisors may fulfill that request if Signum Global Advisors determines that it is
    required or permitted by law to do so.
</p>
<p>
    6.4 Embargoes. Customer represents and warrants that it is not barred by any applicable laws from being supplied with the Services. The
    Services may not be used in any country that is subject to an embargo by the United States or European Union applicable to the
    Services. Customer will ensure that: (a) its End Users do not use the Services in violation of any export restriction or embargo by the
    United States; and (b) it does not provide access to the Services to persons on the U.S. Department of Commerce’s Denied Persons
    List or Entity List, or the U.S. Treasury Department’s list of Specially Designated Nationals.
</p>
<p>
    6.5 Suspension of Services. Signum Global Advisors may limit or suspend the Services from time to time to perform scheduled maintenance or to
    stop a violation of Section 6.2 (Acceptable Uses by Customer), to prevent material harm to Signum Global Advisors or its customers or as
    required by applicable law. Signum Global Advisors will use reasonable endeavors to give Customer reasonable advance notice of any limitation
    or suspension so that Customer can plan around it, or address the issue that has prompted Signum Global Advisors to take such action. There
    may be some situations, such as security emergencies, where it is not practicable for Signum Global Advisors to give such advance notice.
    Signum Global Advisors will use commercially reasonable efforts to narrow the scope and duration of the limitation or suspension as is needed to
    resolve the issue that prompted such action.
</p>
<h3>Security and Privacy</h3>
<p>
    7.1 Security. Signum Global Advisors has, considering the state of the art, cost of implementation, the nature, scope, context and purposes of the
    Services, and the level of risk, implemented appropriate technical and organizational measures to enable a level of security appropriate
    to the risk of unauthorized or unlawful processing, accidental loss of and/or damage to Customer Data. At reasonable intervals,
    Signum Global Advisors tests and evaluates the effectiveness of these technical and organizational measures for enabling the security of the
    processing.
</p>
<p>
    7.2 Privacy Policy. Customer acknowledges the Privacy Policy located at https://www.Signum Global Advisors.com/mp/legal/privacy-basicsenterprise/ and that Signum Global Advisors may revise the Privacy Policy from time to time and that the most current version will always be at
    https://www.Signum Global Advisors.com/mp/legal/privacy-basics-enterprise/. When Signum Global Advisors makes a change to this policy that, in
    Signum Global Advisors's sole discretion, is material, Signum Global Advisors will notify you in accordance with the notice provisions at Section 15.9.
</p>
<p>
    7.3 Data Protection. Where Signum Global Advisors is processing Personal Data for Customer, Signum Global Advisors will:
</p>
<p>
    (a) only do so on documented Customer instructions and in accordance with applicable law, including with regard to transfers of
    personal data to a third country or an international organization, and the parties agree that this Agreement constitutes such
    documented instructions of the Customer to Signum Global Advisors to process Customer Data;
</p>
<p>
    (b) To the extent applicable, Signum Global Advisors Europe UC relies upon (i) Signum Global Advisors Inc.’s Privacy Shield certification and/or
    standard contractual clauses and/or consent for data transfer to the United States to Signum Global Advisors Inc., and (ii) standard
    contractual clauses for data transfers to countries outside the European Economic Area, other than the United States, that do
    not have adequate levels of data protection as determined by the European Commission. Customer appoints Signum Global Advisors
    Europe UC (and, to the extent required, Signum Global Advisors Inc.) as its agent solely for the purpose of entering into standard
    contractual clauses (as approved by the European Commission) to provide the services to Customer, as provided for under this
    Agreement;
</p>
<p>
    (c) ensure that all Signum Global Advisors personnel involved in the processing of Personal Data are party to confidentiality obligations in
    respect of the Personal Data;
</p>
<p>
    (d) make available (at Customer's expense) information necessary for Customer to demonstrate compliance with its Article 28
    obligations (if applicable to the Customer) where such information is held by Signum Global Advisors and is not otherwise available to
    Customer through its account and user areas or on Signum Global Advisors websites, provided that Customer provides Signum Global Advisors
    with at least 14 days' written notice of such an information request;
</p>
<p>
    (e) cooperate as reasonably requested by Customer (at Customer's expense) to enable Customer to comply with any exercise of
    rights by a data subject under the General Data Protection Regulation (EU) 2016/679 in respect of personal data processed by
    Signum Global Advisors in providing the Services;
</p>
<p>
    (f) promptly notify Customer of all requests received directly from a data subject of any of the Personal Data in respect of that data
    subject's Personal Data submitted through the Services; 
</p>
<p>
    (g) cooperate with the Office of the Data Protection Commissioner or any replacement or successor body from time to time (or, to
    the extent required by the Customer, any other data protection or privacy regulator) in the performance of such regulator's tasks
    where required;
</p>
<p>
    (h) not store Personal Data (in a format that permits identification of relevant data subjects) for longer than is necessary for the
    purposes for which the data is processed save to the extent such retention is required for legitimate business purposes (with
    respect to, for example, security and billing), in order to comply with applicable laws and regulations and as may otherwise be
    kept in routine backup copies made for disaster recovery and business continuity purposes; and
    (i) assist Customer as reasonably required (at Customer's expense) where Customer conducts a Data Protection Impact
    Assessment involving the Services.
</p>
<p>
    7.4 Sub-processing. Customer provides a general authorization to Signum Global Advisors to engage onward sub-processors, subject to compliance
    with the requirements in this Section 7.
</p>
<p>
    7.5 Sub-processor List. Signum Global Advisors will, subject to any confidentiality provisions under this Agreement or otherwise imposed by
    Signum Global Advisors:
</p>
<p>
    (a) make available to Customer a list of the Signum Global Advisors subcontractors (“Sub-processors”) who are involved in processing or
    sub-processing Personal Data in connection with the provision of the Services, together with a description of the nature of
    services provided by each Sub-processor (“Sub-processor List”). A copy of this Sub-processor List may be requested here;
</p>
<p>
    (b) ensure that all Sub-processors on the Sub-processor List are bound by contractual terms that are in all material respects no less
    onerous than those contained in this Agreement; and
</p>
<p>
    (c) be liable for the acts and omissions of its Sub-processors to the same extent Signum Global Advisors would be liable if performing the
    services of each of those Sub-processors directly under the terms of this Agreement, except as otherwise set forth in this
    Agreement;
</p>