<div class="backgroundContainer">
    <h1 class="welcomeText">Welcome, user!</h1> 

    <nav class="item2">
        <ul>
            <li class="grow" style="list-style-type: none"><a [routerLink] = "['/']" fragment="home" style="font-size: 12pt">Home</a></li><br>
            <li class="grow"><a [routerLink] = "['/']" fragment="ourFirm" style="font-size: 12pt">Our Firm</a></li><br>
            <li class="grow"><a [routerLink] = "['/']" fragment="leadershipTeam" style="font-size: 12pt">People</a></li><br>
            <li class="grow"><a [routerLink] = "['/']" fragment="services" style="font-size: 12pt">Services</a></li><br>
            <li class="grow"><a [routerLink] = "['/']" fragment="policyResearch" style="font-size: 12pt" onclick="">Research</a></li><br>
            <li class="grow"><a [routerLink] = "['/']" fragment="opinion" style="font-size: 12pt">Opinion</a></li><br>
            <li class="grow"><a [routerLink] = "['/']" fragment="news" style="font-size: 12pt">News</a></li><br>
            <li class="grow"><a [routerLink] = "['/']" fragment="contact" style="font-size: 12pt">Contact</a></li><br>
            <li class="grow"><a routerLink="/login" style="font-size: 12pt">Login</a></li>
        </ul>         
    </nav>

    <div class="documentsCard">
        <a href="https://drive.google.com/file/d/0BzIVgVIUvrcgMjIxNTRkNDMtY2E4Ni00NGIyLWFiZGQtNjYyNTAwNGEzNjU1/view?usp=sharing">EJ Strategies</a>
        <br>
        <a href="https://drive.google.com/file/d/0BzIVgVIUvrcgNGEzZmE0NGYtYTE0Ny00Mzg4LTkwYzAtNDcyOThiNjE5M2Iz/view?usp=sharing">OIG Evaluation Report</a>
        <br>
        <a href="https://drive.google.com/file/d/0BzIVgVIUvrcgY2I5MGVlMDctOTZlMS00MjE4LWIxNzctYzRkMjNlMzRkZWZj/view?usp=sharing">Memorandum of Understanding</a>
    </div>
</div>