@media only screen and (min-width: 1055px) {
    body {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        height: 15%;
        width: 100%;
        justify-content: center;
        margin-top: 25vh;
        padding: 15px;
        align-content: center;
        position: absolute;
        z-index: 2;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }
    
    .titleText {
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .subtitleText {
        display: flex;
        justify-content: center;
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 400;
    }
    
    .carouselContainer {
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
    }

    .carousel-item img {
        display: flex;
        max-height: 100vh;
        min-height: 100vh;
        width: 100%;
        min-width: 100%;
    }

    .locationsContainer {
        display: flex;
        flex-direction: row;
        height: 2.7rem;
        position: absolute;
        z-index: 20;
        margin-top: 75vh;
        font-size: 2rem;
        font-weight: 400;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .nYCContainer {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .lonContainer {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .dCContainer {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .locationLogo {
        display: flex;
        background-color: #5ea7f7;
        height: 100%;
        width: 3px;
    }
    
    .ourFirmContainer {
        display: flex;
        width: 100%;
        background: url(src\assets\nycAerialDark.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
    }

    .ourFirmTitle {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        font-size: 3rem;
        line-height: 1em;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .ourFirmText {
        display: flex;
        justify-content: center;
        text-align: justify;
        padding-left: 15%;
        padding-right: 15%;
        font-size: 1.5rem;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .teamProfilesContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
        padding-top: 1rem;
        padding-bottom: 5rem;
    }

    .leadershipTeamTitle {
        display: flex;
        font-size: 3rem;
        background-color: #171c32;
        text-transform: capitalize;
        padding-left: 5rem;
    }

    .fullBio {
        display: flex;
        padding-left: 1rem;
    }

    .horizontalRow {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        min-width: 100%;
    }

    hr {
        display: flex;
        border: 1px solid white;
        min-width: 95%;
    }

    .fa-arrow-right {
        padding-top: .25rem;
        padding-left: 1rem;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }
    
    .charlesMyersContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .charlesMyersPic {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .charlesMyersPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .charlesMyersBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 50%;
    }

    .bioName {
        display: flex;
        background-color: #212843;
        text-transform: capitalize;
        padding-left: 1rem;
        font-size: 2.5rem;
    }

    .bioPosition {
        display: flex;
        background-color: #212843;
        text-transform: uppercase;
        padding: 1rem;
        font-size: 1.5rem;
        color: #5ea7f7;
    }

    .bioParagraphs {
        display: flex;
        background-color: #212843;
        padding: 1rem;
    }
    
    .andrewBishopContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .andrewBishopPic {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .andrewBishopPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .andrewBishopBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 50%;
    }
    
    .angelaDaltonContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        
        background-color: #171c32;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .angelaDaltonPic {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .angelaDaltonPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .angelaDaltonBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 50%;
    }
    
    .jasonPressContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .jasonPressPic {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .jasonPressPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .jasonPressBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 50%;
    }
    
    .annaRosenbergContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .annaRosenbergPic {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .annaRosenbergPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .annaRosenbergBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 50%;
    }
    
    .servicesContainer {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .servicesContainerTitle {
        display: flex;
        font-size: 3rem;
        background-color: #171c32;
        text-transform: capitalize;
        padding-left: 5rem;
    }
    
    .policyResearchContainer {
        display: flex;
        width: 100%;
        background-color: #171c32;
        justify-content: center;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .policyResearchPic {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .policyResearchPic img {
        display: flex;
        min-width: 100%;
        min-height: inherit;
    }

    .policyResearchText {
        display: flex;
        background-color: #212843;
        flex-direction: column;
        font-size: 1rem;
        width: 50%;
    }

    .servicesTitle {
        display: flex;
        background-color: #212843;
        text-transform: capitalize;
        padding-left: 1rem;
        font-size: 2rem;
    }

    .servicesPara {
        display: flex;
        background-color: #212843;
        padding: 1rem;
    }
    
    .institutionalInvestorContainer {
        display: flex;
        width: 100%;
        background-color: #171c32;
        justify-content: center;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .institutionalInvestorPic {
        display: flex;
        width: 50%;
        justify-content: flex-start;
    }

    .institutionalInvestorPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .institutionalInvestorText {
        display: flex;
        background-color: #212843;
        flex-direction: column;
        font-size: 1rem;
        width: 50%;
    }
    
    .differentiationContainer {
        display: flex;
        width: 100%;
        background-color: #171c32;
        justify-content: center;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .differentiationPic {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .differentiationPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .differentiationText {
        display: flex;
        background-color: #212843;
        flex-direction: column;
        font-size: 1rem;
        width: 50%;
    }
    
    .newsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
    }

    .newsContainerTitle {
        display: flex;
        font-size: 3rem;
        background-color: #171c32;
        text-transform: capitalize;
        padding-left: 5rem;
    }

    .youTubeClip1 {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .youTubeClip2 {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
    
    .emailListSignupContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
    }

    .emailListSignupTitle {
        display: flex;
        font-size: 3rem;
        background-color: #171c32;
        text-transform: capitalize;
        padding-left: 5rem;
    }

    .emailListItemsContainer {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        flex-direction: column;
    }

    .emailListSignupSubtitle {
        display: flex;
        background-color: #171c32;
        padding-left: 5rem;
        font-size: 1.5rem;
    }

    .emailInputItems {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem;
    }

    .emailListSignupName {
        display: flex;
        background-color: lightblue;
        width: 40%;
    }

    .emailListSignupName input {
        display: flex;
        background-color: lightblue;
        width: 100%;
        padding-left: 1rem;
    }

    .emailListSignupEmail {
        display: flex;
        width: 40%;
        margin-right: 1rem;
    }

    .emailListSignupEmail input {
        display: flex;
        background-color: lightblue;
        width: 100%;
        margin-left: 1rem;
        padding-left: 1rem;
    }

    .emailSignupButton {
        display: flex;
        background-color: #28a745;
        color: white;
    }
    
    .contactContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .contactUsImage {
        display: flex;
    }

    .contactUsTitle {
        display: flex;
        font-size: 3rem;
        background-color: #171c32;
        text-transform: capitalize;
        padding-left: 5rem;
    }

    .contactUsText {
        display: flex;
        background-color: #171c32;
        padding-left: 5rem;
        font-size: 1.2rem;
    }
    
    .footerContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .locationFooterContainer {
        display: flex;
        background-color: #171c32;
        width: 100%;
        justify-content: center;
        color: white;
        font-size: 1.3rem;
    }
    
    .nYCFooterContainer {
        display: flex;
        width: 1fr;
        background-color: #171c32;
        flex-direction: column;
        margin: 1rem;
    }
    
    .londonFooterContainer {
        display: flex;
        width: 1fr;
        background-color: #171c32;
        flex-direction: column;
        margin: 1rem;
    }
    
    .washingtonFooterContainer {
        display: flex;
        width: 1fr;
        background-color: #171c32;
        flex-direction: column;
        margin: 1rem;
    }
    
    .copyrightInfoContainer {
        display: flex;
        width: 100%;
        background-color: white;
    }
    
    .copyrightInfoText {
        display: flex;
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1055px) {
    body {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        height: 15%;
        width: 100%;
        justify-content: center;
        margin-top: 25vh;
        padding: 5px;
        align-content: center;
        position: absolute;
        z-index: 2;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }
    
    .titleText {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    
    .subtitleText {
        display: flex;
        justify-content: center;
        text-transform: capitalize;
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .carouselContainer {
        display: flex;
        height: 60vh;
        max-height: 60vh;
        width: 100%;
        justify-content: center;
    }

    .carousel-item img {
        display: flex;
        max-height: 60vh;
        min-height: 60vh;
        width: 100%;
        min-width: 100%;
    }

    .locationsContainer {
        display: flex;
        flex-direction: row;
        height: 2.7rem;
        position: absolute;;
        z-index: 20;
        margin-top: 45vh;
        font-size: 1.5rem;
        font-weight: 400;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .nYCContainer {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .lonContainer {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .dCContainer {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .locationLogo {
        display: flex;
        background-color: #5ea7f7;
        height: 100%;
        width: 3px;
    }
    
    .ourFirmContainer {
        display: flex;
        width: 100%;
        background: url(src\assets\nycAerialDark.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
    }

    .ourFirmTitle {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        font-size: 3rem;
        line-height: 1em;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .ourFirmText {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.2rem;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .teamProfilesContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .leadershipTeamTitle {
        display: flex;
        font-size: 3rem;
        background-color: #171c32;
        text-transform: capitalize;
        justify-content: center;
    }

    .fullBio {
        display: flex;
        padding-left: 1rem;
    }

    .horizontalRow {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        min-width: 100%;
    }

    hr {
        display: flex;
        border: 1px solid white;
        min-width: 95%;
    }

    .fa-arrow-right {
        padding-top: .25rem;
        padding-left: 1rem;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }
    
    .charlesMyersContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .charlesMyersPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .charlesMyersPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .charlesMyersBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }

    .bioName {
        display: flex;
        background-color: #212843;
        text-transform: capitalize;
        padding-left: 1rem;
        font-size: 1.75rem;
    }

    .bioPosition {
        display: flex;
        background-color: #212843;
        text-transform: uppercase;
        padding-left: 1rem;
        font-size: 1.25rem;
        color: #5ea7f7;
    }

    .bioParagraphs {
        display: flex;
        background-color: #212843;
        padding: .5rem;
    }
    
    .andrewBishopContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .andrewBishopPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .andrewBishopPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .andrewBishopBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .angelaDaltonContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .angelaDaltonPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .angelaDaltonPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .angelaDaltonBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .jasonPressContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .jasonPressPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .jasonPressPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .jasonPressBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .annaRosenbergContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .annaRosenbergPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .annaRosenbergPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .annaRosenbergBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .servicesContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
        padding-bottom: 1rem;
    }

    .servicesContainerTitle {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        margin-top: 5vh;
        font-size: 3rem;
        line-height: 1em;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .servicesTitle {
        display: flex;
        font-size: 1.7rem;
    }
    
    .policyResearchContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .policyResearchPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .policyResearchPic img {
        display: flex;
        min-width: 100%;
        justify-content: center;
    }

    .policyResearchText {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .institutionalInvestorContainer {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .institutionalInvestorPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .institutionalInvestorPic img {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .institutionalInvestorText {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .differentiationContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .differentiationPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .differentiationPic img {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .differentiationText {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .newsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
    }

    .newsContainerTitle {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        font-size: 3rem;
    }

    .youTubeClip1 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    .youTubeClip2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .emailListSignupContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
    }

    .emailListItemsContainer {
        display: flex;
        flex-direction: row;
        background-color: #171c32;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .emailListSignupTitle {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        font-size: 3rem;
        width: 100%;
    }

    .emailListSignupSubtitle {
        display: flex;
        background-color: #171c32;
        width: 100%;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.2rem;
    }

    .emailInputItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .emailListSignupName {
        display: flex;
        flex-direction: column;
        background-color: #171c32;
        width: 100%;
    }

    .emailListSignupName input {
        display: flex;
        margin: 1rem;
    }

    .emailListSignupEmail {
        display: flex;
        flex-direction: column;
        background-color: #171c32;
        width: 100%;
    }

    .emailListSignupEmail input {
        display: flex;
        margin: 1rem;
    }

    .emailSignupButton {
        display: flex;
        flex-direction: column;
        background-color: #28a745;
        margin: 1em;
    }
    
    .contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .contactUsImage {
        display: flex;
    }

    .contactUsTitle {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        font-size: 3rem;
    }

    .contactUsText {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        font-size: 1.2rem;
    }
    
    .footerContainer {
        display: flex;
        flex-direction: column;
    }

    .locationFooterContainer {
        display: flex;
        flex-direction: row;
        background-color: #171c32;
        width: 100%;
        justify-content: center;
    }
    
    .nYCFooterContainer {
        display: flex;
        color: white;
        flex-direction: column;
        width: 33%;
        background-color: #171c32;
        padding: 1px;
    }
    
    .londonFooterContainer {
        display: flex;
        color: white;
        flex-direction: column;
        width: 33%;
        background-color: #212843;
        padding: 1px;
    }
    
    .washingtonFooterContainer {
        display: flex;
        color: white;
        flex-direction: column;
        width: 33%;
        background-color: #171c32;
        padding: 1px;
    }
    
    .copyrightInfoContainer {
        display: flex;
        width: 1fr;
        background-color: white;
    }
}

@media only screen and (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        color: white;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        height: 15%;
        width: 100%;
        justify-content: center;
        margin-top: 15vh;
        padding: 5px;
        align-content: center;
        position: absolute;
        z-index: 2;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }
    
    .titleText {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    
    .subtitleText {
        display: flex;
        justify-content: center;
        text-transform: capitalize;
        font-size: 1.3rem;
        font-weight: 400;
    }
    
    .carouselContainer {
        display: flex;
        height: 50vh;
        max-height: 50vh;
        width: 100%;
        justify-content: center;
    }

    .carousel-item img {
        display: flex;
        max-height: 50vh;
        min-height: 50vh;
        width: 100%;
        min-width: 100%;
    }

    .locationsContainer {
        display: flex;
        flex-direction: row;
        height: 2.7rem;
        position: absolute;;
        z-index: 20;
        margin-top: 35vh;
        font-size: 1.0rem;
        font-weight: 400;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .nYCContainer {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .lonContainer {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .dCContainer {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .locationLogo {
        display: flex;
        background-color: #5ea7f7;
        height: 100%;
        width: 3px;
    }
    
    .ourFirmContainer {
        display: flex;
        width: 100%;
        background: url(src\assets\nycAerialDark.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
    }

    .ourFirmTitle {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        font-size: 2rem;
        line-height: 1em;
        text-shadow:
        -1.0px -1.0px 0 #000,
        1.0px -1.0px 0 #000,
        -1.0px 1.0px 0 #000,
        1.0px 1.0px 0 #000;
    }

    .ourFirmText {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.2rem;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .teamProfilesContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .leadershipTeamTitle {
        display: flex;
        font-size: 2rem;
        background-color: #171c32;
        text-transform: capitalize;
        justify-content: center;
    }

    .fullBio {
        display: flex;
        padding-left: 1rem;
    }

    .horizontalRow {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        min-width: 100%;
    }

    hr {
        display: flex;
        border: 1px solid white;
        min-width: 95%;
    }

    .fa-arrow-right {
        padding-top: .25rem;
        padding-left: 1rem;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }
    
    .charlesMyersContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .charlesMyersPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .charlesMyersPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
        max-height: 50vh;
    }

    .charlesMyersBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }

    .bioName {
        display: flex;
        background-color: #212843;
        text-transform: capitalize;
        padding-left: 1rem;
        font-size: 1.75rem;
    }

    .bioPosition {
        display: flex;
        background-color: #212843;
        text-transform: uppercase;
        padding-left: 1rem;
        font-size: 1.25rem;
        color: #5ea7f7;
    }

    .bioParagraphs {
        display: flex;
        background-color: #212843;
        padding: .5rem;
    }
    
    .andrewBishopContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .andrewBishopPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .andrewBishopPic img {
        display: flex;
        width: 100%;
        min-height: 50vh;
        max-height: 50vh;
    }

    .andrewBishopBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .angelaDaltonContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .angelaDaltonPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .angelaDaltonPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
        max-height: 50vh;
    }

    .angelaDaltonBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .jasonPressContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .jasonPressPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .jasonPressPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .jasonPressBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .annaRosenbergContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .annaRosenbergPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .annaRosenbergPic img {
        display: flex;
        width: 100%;
        min-height: inherit;
    }

    .annaRosenbergBio {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .servicesContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .servicesContainerTitle {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        margin-top: 5vh;
        font-size: 2rem;
        line-height: 1em;
        text-shadow:
            -1.0px -1.0px 0 #000,
            1.0px -1.0px 0 #000,
            -1.0px 1.0px 0 #000,
            1.0px 1.0px 0 #000;
    }

    .servicesTitle {
        display: flex;
        font-size: 1.5rem;
    }
    
    .policyResearchContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .policyResearchPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .policyResearchText {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .institutionalInvestorContainer {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .institutionalInvestorPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .institutionalInvestorPic img {
        display: flex;
        width: 100%;
        justify-content: center;
        max-height: 30vh;
    }

    .institutionalInvestorText {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .differentiationContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: #171c32;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .differentiationPic {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .differentiationPic img {
        display: flex;
        width: 100%;
        justify-content: center;
        max-height: 30vh;
    }

    .differentiationText {
        display: flex;
        flex-direction: column;
        background-color: #212843;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .newsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
    }

    .newsContainerTitle {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        font-size: 2rem;
    }

    .youTubeClip1 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    .youTubeClip2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .emailListSignupContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #171c32;
    }

    .emailListItemsContainer {
        display: flex;
        flex-direction: row;
        background-color: #171c32;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .emailListSignupTitle {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        font-size: 2rem;
        width: 100%;
    }

    .emailListSignupSubtitle {
        display: flex;
        background-color: #171c32;
        width: 95%;
        margin: .7rem;
        margin-right: .7rem;
    }

    .emailInputItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .emailListSignupName {
        display: flex;
        flex-direction: column;
        background-color: #171c32;
        width: 100%;
    }

    .emailListSignupName input {
        display: flex;
        margin: 1rem;
    }

    .emailListSignupEmail {
        display: flex;
        flex-direction: column;
        background-color: #171c32;
        width: 100%;
    }

    .emailListSignupEmail input {
        display: flex;
        margin: 1rem;
    }

    .emailSignupButton {
        display: flex;
        flex-direction: column;
        background-color: #28a745;
        margin: 1em;
    }
    
    .contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .contactUsImage {
        display: flex;
    }

    .contactUsTitle {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        font-size: 2rem;
    }

    .contactUsText {
        display: flex;
        background-color: #171c32;
        justify-content: center;
        font-size: 1.1rem;
    }
    
    .footerContainer {
        display: flex;
        flex-direction: column;
    }

    .locationFooterContainer {
        display: flex;
        flex-direction: row;
        background-color: #171c32;
        width: 100%;
        justify-content: center;
    }
    
    .nYCFooterContainer {
        display: flex;
        color: white;
        flex-direction: column;
        width: 33%;
        background-color: #171c32;
        padding: 1px;
    }
    
    .londonFooterContainer {
        display: flex;
        color: white;
        flex-direction: column;
        width: 33%;
        background-color: #212843;
        padding: 1px;
    }
    
    .washingtonFooterContainer {
        display: flex;
        color: white;
        flex-direction: column;
        width: 33%;
        background-color: #171c32;
        padding: 1px;
    }
    
    .copyrightInfoContainer {
        display: flex;
        width: 1fr;
        background-color: white;
    }
}

/* navigation styles start here */

header {
    background: none;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  
  /* changed this to
     allow it to gain focus, making it tabbable */
.nav-toggle {
    position: relative !important;
    margin-top: 3em;
    top: -9999px !important;
    left: -9999px !important;
}
  
  
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
  
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    box-shadow: 1px 1px, -1px -1px, 1px -1px, -1px 1px;
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
  
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
  
.nav-toggle-label span::before {
    bottom: 7px;
}
  
.nav-toggle-label span::after {
    top: 7px;
}
  
nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: #171c32;
    width: 85%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
  
nav a {
    color: white;
    text-shadow:
        -1.0px -1.0px 0 #000,
        1.0px -1.0px 0 #000,
        -1.0px 1.0px 0 #000,
        1.0px 1.0px 0 #000;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
  
nav a:hover {
    color: #5ea7f7;
}
  
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}
  
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.list-bullet{
    width: 20px;
    height: 1px;
    margin-top: 15px;
    margin-right: 10px;
    flex: 20px;
    background-color: #5ea7f7; 
}

.list-text{
    padding-right: 0px;
    padding-left: 0px;
    flex-basis: 100%;
    color: rgba(247, 251, 252, 0.6);
    font-size: 1em;
    line-height: 1.375em;
    font-weight: 400;
}

ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
}