<header>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
          <li style="list-style-type: none"><a [routerLink] = "['/']" fragment="home">Home</a></li>
          <li><a [routerLink] = "['/']" fragment="ourFirm">Our Firm</a></li>
          <li><a [routerLink] = "['/']" fragment="leadershipTeam">People</a></li>
          <li><a [routerLink] = "['/']" fragment="services">Services</a></li>
          <li><a [routerLink] = "['/']" fragment="policyResearch">Research</a></li>
          <li><a [routerLink] = "['/']" fragment="opinion">Opinion</a></li>
          <li><a [routerLink] = "['/']" fragment="news">News</a></li>
          <li><a [routerLink] = "['/']" fragment="contact">Contact</a></li>
          <li><a routerLink="/login">Login</a></li> 
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>
<body>

  <div class="titleContainer">
    <div class="titleText">signum global advisors</div>
    <div class="subtitleText">policy & strategy</div>
  </div>
  
  <div class="carouselContainer">

      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" style="z-index: 1">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/US-Capitol.jpeg" alt="Washington DC">
          </div>
          <div class="carousel-item">
            <img src="../assets/claudio-schwarz-purzlbaum-HUROgx3BSq4-unsplash.jpg" alt="New York">
          </div>
          <div class="carousel-item">
              <img src="../assets/jurica-koletic-MLLBlDL5bDw-unsplash.jpg" alt="London">
            </div>
        </div>
      </div>  

    <div class="locationsContainer">
      <div class="nYCContainer">New York</div>
      <div class="locationLogo"></div>
      <div class="lonContainer">London</div>
      <div class="locationLogo"></div>
      <div class="dCContainer">Washington D.C.</div>
    </div>

  </div>

  <div class="ourFirmContainer" id="ourFirm">
    <div class="ourFirmTitle">Our Firm</div>
    <div class="ourFirmText">Signum is a new type of advisory firm at the intersection of policy and markets. Signum works with financial institutions and multi-national businesses to anticipate and assess policy agendas and announcements that will have a material impact upon markets, sectors, and asset classes. We provide the highest quality predictive research, market insights and policy events.  Signum’s Executive team has enjoyed unique exposure to decision-making at senior levels - political and financial. Our clients are better prepared to navigate increased political volatility with greater clarity and certainty.  The firm operates globally from offices in New York, London and Washington D.C.</div>
  </div>

  <div class="teamProfilesContainer" id="leadershipTeam">

    <div class="leadershipTeamTitle">leadership team</div>
    
    <div class="charlesMyersContainer">
      <div class="charlesMyersPic">
        <img style="float: right;" src="https://uploads-ssl.webflow.com/5a72037bead1240001ec7bcf/5a75a6bba1256900015e5529_Charles.jpg" alt="Charles Myers" id="charlesMyersFullBio">
      </div>
      <div class="charlesMyersBio">
        <div class="bioName">
          charles myers
        </div>
        <div class="bioPosition">
          chairman
        </div>
        <hr>
        <div class="bioParagraphs">
          Charles has over 20 years of US political and electoral experience advising candidates in Presidential, Senate, House of Representatives, Gubernatorial and Mayoral races, including Hillary Clinton for President 2016. 
        </div>
        <div class="bioParagraphs">
          He also has 25 years of experience in global financial markets. As Chairman of Signum Global, Charles works with financial institutions and multi-national businesses to anticipate and assess policy agendas and announcements.
        </div>
        <div class="fullBio">
          <a [routerLink] = "['/']" fragment="charlesMyersFullBio" (click)="sendCharlesMessage()">FULL BIO</a><i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
    
    <div class="angelaDaltonContainer">
      <div class="angelaDaltonPic">
        <img src="../assets/Angela-Dalton-Headshot-500x500.jpg" alt="Angela Dalton" id="angelaDaltonFullBio">
      </div>
      <div class="angelaDaltonBio">
        <div class="bioName">
            angela dalton
        </div>
        <div class="bioPosition">
          senior partner
        </div>
        <hr>
        <div class="bioParagraphs">
          Angela Dalton is a Senior Partner of Signum Global Advisors. She has 19 years of experience in capital markets spanning UBS, Evercore and Guggenheim. Most recently, she served as TMT Equities Sector Head at both Evercore and Guggenheim, and was Co-Founder of the Evercore Equities business.
        </div>
        <div class="bioParagraphs">
           At Signum, she spends most of her time at the intersection of policy and emerging technology, with an emphasis on video gaming, disruptive entertainment models and blockchain.
        </div>
        <div class="fullBio">
          <a [routerLink] = "['/']" fragment="angelaDaltonFullBio" (click)="sendAngelasMessage()">FULL BIO</a><i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>

    <div class="jasonPressContainer">
      <div class="jasonPressPic">
        <img src="../assets/jasonPress.png" alt="Jason Press" id="jasonPressFullBio">
      </div>
      <div class="jasonPressBio">
        <div class="bioName">
          jason press
        </div>
        <div class="bioPosition">
          senior partner
        </div>
        <hr>
        <div class="bioParagraphs">
            With more than 20 years in the financial markets industry, Jason Press leads Signum Global Advisors's sales and distribution efforts. He works with a wide variety of financial institutions, providing insights, and forecasting how political and global macro developments move equity, foreign exchange, and fixed income markets.
        </div>
        <div class="bioParagraphs">
            Jason was a senior member of Eurasia Group, and previous to that worked in emerging markets investment strategy at Citigroup and Goldman Sachs in New York, Hong Kong, Singapore, and Sao Paulo.
        </div>
        <div class="fullBio">
          <a [routerLink] = "['/']" fragment="jasonPressFullBio" (click)="sendJasonsMessage()">FULL BIO</a><i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>

    <div class="andrewBishopContainer">
      <div class="andrewBishopPic">
        <img src="../assets/andrew-bishop.jpg" alt="Andrew Bishop" id="andrewBishopFullBio">
      </div>
      <div class="andrewBishopBio"> 
        <div class="bioName">
          andrew bishop
        </div>
        <div class="bioPosition">
          partner
        </div>
        <hr>
        <div class="bioParagraphs">
          Andrew Bishop, Partner at Signum Global Advisors, is an established political analyst with a ten-year track record of advising institutional investors, corporates and governments on political risks in developed, emerging, and frontier markets.
        </div>
        <div class="bioParagraphs">
          As Global Head of Policy Research, Andrew directs and oversees Signum Global’s policy-related analytical products and partners with clients to address questions about critical political uncertainties. Andrew is head of Signum's Washington, D.C. office.
        </div>
        <div class="fullBio">
          <a [routerLink] = "['/']" fragment="andrewBishopFullBio" (click)="sendAndrewsMessage()">FULL BIO</a><i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>

    <div class="annaRosenbergContainer">
      <div class="annaRosenbergPic">
        <img src="../assets/annaRosenberg.png" alt="Anna Rosenberg" id="annaRosenbergFullBio">
      </div>
      <div class="annaRosenbergBio">
        <div class="bioName">
          anna rosenberg
        </div>
        <div class="bioPosition">
          partner
        </div>
        <div class="horizontalRow">
          <hr>
        </div> 
        <div class="bioParagraphs">
          Anna Rosenberg is Partner, Head of Europe and UK and member of Signum’s Global Management Committee.
        </div>
        <div class="bioParagraphs">
          Over the past ten years, Anna has advised executives of multinational companies in managing their global market portfolios. She helps senior executives better plan for and respond to forces outside of their control, such as political and economic risk, to ensure their businesses can navigate through difficult times and continue to perform.
        </div>
        <div class="fullBio">
          <a [routerLink] = "['/']" fragment="annaRosenbergFullBio" (click)="sendAnnasMessage()">FULL BIO</a><i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="servicesContainer" id="services">
    
      <div class="servicesContainerTitle">Services</div>

    <div class="policyResearchContainer">
      <div class="policyResearchPic">
        <img style="max-width: 400px" src="../assets/downingStreetWhitehall.jpg" class="item14" alt="Whitehall and Downing Street">
      </div>
      <div class="policyResearchText" id="policyResearch">
        <div class="servicesTitle">
          Policy Research & Analytics
        </div>
        <div class="servicesPara">
          <ul class="servicesParagraph">       
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Generate the highest quality independent, predictive policy research
              </div>
            </li>
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Assess and anticipate the impact of actions by lawmakers in Washington, Westminster, Brussels, and elsewhere
              </div>
            </li>
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Deliver company and portfolio specific insights to meet key commercial objectives
              </div>
            </li>
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Provide greater predictability in times of uncertainty
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="institutionalInvestorContainer" id="opinion">
      <div class="institutionalInvestorText">
        <div class="servicesTitle">
          Institutional Investor & Corporate Advisory
        </div>
        <div class="servicesPara">
          <ul class="servicesParagraph">
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Exclusive, high-touch client service customized to individual client preferences
              </div>
            </li>
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                CEO and Board counsel for business-critical financial and political issues
              </div>
            </li>
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Forecast social, political and economic trends to inform corporate and investor strategies
              </div>
            </li>
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Roadshows with world leaders in policy and technology
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="institutionalInvestorPic">
          <img src="../assets/nYSETradingFloor.jpg" alt="NYSE Trading Floor">
      </div>
    </div>

    <div class="differentiationContainer">
      <div class="differentiationPic">
        <img src="../assets/nYSETradingFloor.jpg" alt="NYSE Trading Floor">
      </div>
      <div class="differentiationText">
        <div class="servicesTitle">
          Differentiation
        </div>
        <div class="servicesPara">
          <ul class="servicesParagraph">
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Rigorous analytical capabilities: leadership has extensive experience in political risk as well as investor & corporate advisory and strategy.
              </div>
            </li>
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Unique policy meetings and roundtable events with our Global Advisory Board, government officials and others within our collective network
              </div>
            </li>
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                An independent Advisory firm, Signum has representation across the political spectrum
              </div>
            </li>
            <li>
              <div class="list-bullet"></div>
              <div class="list-text">
                Signum offers 'calls' only on topics where we are confident we have an edge; the calls are always predictive and at times out-of-consensus, buttressed by scenario analysis
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="newsContainer" id="news">
    
    <div class="newsContainerTitle">Media Appearances</div>

    <div class="youTubeClip1">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xC6JPwGKXo0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="youTubeClip2">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DPPbCKUdIns" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe> 
    </div>
  </div>

  <div class="emailListSignupContainer">
    <div class="emailListSignupTitle">Signum Updates</div>
    <div class="emailListSignupSubtitle">Enter your details to receive notifications about Signum research and events.</div>
    <div class="emailInputItems">
      <div class="emailListSignupName">
          <input placeholder="Name" type="text">
      </div>
      <div class="emailListSignupEmail">
          <input placeholder="Email" type="email">
      </div> 
      <div class="emailSignupButton">
        <button class="emailListSignup btn btn-submit" (click)="sendSignUpMessage()">Sign up</button>
      </div>
    </div>
  </div>

  <div class="contactContainer" id="contact">
    <div class="contactUsTitle">Contact Us</div>
    <div class="contactUsText">research@signumglobal.com</div>
    <div class="contactUsImage">
        <img src="../assets/worldGridBanner.jpg" class="w-100">
    </div>
  </div>

</body>
<footer class="footerContainer">

  <div class="locationFooterContainer">

  <div class="nYCFooterContainer">
    <div class="nYCFooterTitle">New York</div>
    <div class="nYCFooterText">
      <p>Signum Global Advisors<br> 1185 Sixth Ave, 3rd Floor<br> New York, NY 10036</p>
    </div>
  </div>

  <div class="londonFooterContainer">
    <div class="londonFooterTitle">London</div>
    <div class="londonFooterText">
        <p>Signum Global Advisors<br> 33 St. James's Square<br> London, SW1Y 4JS</p>
    </div>
  </div>

  <div class="washingtonFooterContainer">
    <div class="washingtonFooterTitle">Washington D.C.</div>
    <div class="washingtonFooterText">
        <p>Signum Global Advisors<br> 1920 14th St. NW<br> Washington, D.C. 20009</p>
    </div>
  </div>

  </div>

  <div class="copyrightInfoContainer">
    <div class="copyrightInfoText"><strong>&copy;</strong> {{ currentYear }} Signum Global Advisors
    </div>
  </div>

</footer>